body {
    margin: 0;
    background-color: #505050;
}

#baymax {
    position: relative;
    margin: 1.25vh auto 0;
    animation: moving 4s linear infinite;
}
@keyframes moving {
    0%, 80% { right: 0; }
    20%, 60% { right: 20vh; }
}

.head {
    position: relative;
    margin: 0 auto;
    height: 14.5vh;
    width: 22vh;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.75vh solid #e0e0e0;
    animation: hestating linear 4s infinite;
}
@keyframes hestating {
    0%, 30%, 60%, 90% { transform: rotate(0deg) }
    10%, 20% { transform: rotate(10deg) }
    70% { transform: rotate(-10deg) }
}

.head .eye {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: #000;
    animation: blinking linear 4s infinite;
}
@keyframes blinking {
    10%, 15%, 72.5%, 77.5% {
        border-radius: 50%;
        height: 3vh;
    }
    12.5%, 75% {
        border-radius: 0;
        height: 0.75vh;
    }
}

.head .mouth {
    height: 0.75vh;
    width: 6vh;
    background-color: #000;
}

.chest {
    margin: -3.5vh auto 0;
    height: 45vh;
    width: 38vh;
    border-radius: 47%;
    background-color: #fff;
    border: 0.5vh solid #e0e0e0;
    animation: chest-shaking 4s linear infinite;
}
@keyframes chest-shaking {
    5%, 15%, 65%, 75% { width: 39.25vh; }
    0%, 10%, 20%, 60%, 70%, 80% { width: 38vh; }
}


.chest .heart {
    position: relative;
    height: 6vh;
    width: 6vh;
    left: 0;
    margin: 7.5vh 0 0 27vh;
    border-radius: 50%;
    box-shadow: 0.3vh 0.6vh 0.3vh #ccc inset;
    border: 0.375vh solid #ccc;
    animation: heart-following 4s linear infinite;
}
@keyframes heart-following {
    5%, 15%, 65%, 75% { left: 0.625vh; }
    0%, 10%, 20%, 60%, 70%, 80% { left: 0vh; }
}

.belly {
    margin: -35vh auto 0;
    height: 65vh;
    width: 55vh;
    border-radius: 50%;
    border-top: 0.5vh solid rgba(0, 0, 0, 0);
    border-right: 0.5vh solid #e0e0e0;
    border-left: 0.5vh solid #e0e0e0;
    border-bottom: 0.5vh solid #e0e0e0;
    background-color: #fff;
    animation: belly-shaking 4s linear infinite;
}
@keyframes belly-shaking {
    5%, 15%, 65%, 75% { width: 57.5vh; }
    0%, 10%, 20%, 60%, 70%, 80% { width: 55vh; }
}

.leg {
   position: relative;
   margin: 5.75vh auto 0;
   height: 21vh;
   width: 40vh;
   z-index: -1;
}

.leg > div {
    position: absolute;
    height: 100%;
    width: 18.5vh;
    background-color: #fff;
    transform-origin: center top;
    border-style: solid;
    border-color: #e0e0e0;
}

.leg .leg-r {
    right: 0;
    border-radius: 0 0 45% 2.5vh;
    transform: rotate(2.5deg);
    border-width: 0 0.3vh 0.3vh 0;
    animation: leg-r-moving 4s linear infinite;
}
@keyframes leg-r-moving {
    5%, 15%, 65%, 75% { transform: rotate(-10deg); }
    0%, 10%, 20%, 60%, 70%, 80% { transform: rotate(2.5deg); }
}
.leg .leg-l {
    left: 0;
    border-radius: 0 0 2.5vh 45%;
    transform: rotate(-2.5deg);
    border-width:  0 0 0.3vh 0.3vh;
    animation: leg-l-moving 4s linear infinite;
}
@keyframes leg-l-moving {
    5%, 15%, 65%, 75% { transform: rotate(10deg); }
    0%, 10%, 20%, 60%, 70%, 80% { transform: rotate(-2.5deg); }
}

.arm {
    position: relative;
    margin: -72.5vh auto 0;
    height: 54vh;
    width: 40vh;
}

.arm > div {
    position: absolute;
    height: 100%;
    width: 20vh;
    border-radius: 50%;
    border: 0.375vh solid #e0e0e0;
    background-color: #fff;
    transform-origin: center top;
    z-index: -1;
}

.arm > div > div {
    border-width: 0.375vh;
    border-style: solid;
}

.arm > div .big-finger {
    position: absolute;
    height: 11vh;
    width: 4.4vh;
    border-radius: 50%;
    bottom: -6vh;
    background-color: #fff;
}

.arm > div .tinny-finger {
    position: absolute;
    height: 7.7vh;
    width: 3.3vh;
    bottom: -1.5vh;
    border-radius: 50%;
    background-color: #fff;
}

.arm .arm-r {
    right: 0;
    transform: rotate(-27deg);
    animation: arm-r-moving 4s linear infinite;
}
@keyframes arm-r-moving {
    5%, 15%, 65%, 75% { transform: rotate(-30deg); }
    0%, 10%, 20%, 60%, 70%, 80% { transform: rotate(-27deg); }
}

.arm .arm-l {
    left: 0;
    transform: rotate(27deg);
    animation: arm-l-moving 4s linear infinite;
}
@keyframes arm-l-moving {
    5%, 15%, 65%, 75% { transform: rotate(30deg); }
    0%, 10%, 20%, 60%, 70%, 80% { transform: rotate(27deg); }
}

.arm .arm-l .big-finger {
    left: 7.5vh;
    border-color: transparent transparent transparent #e0e0e0;
    transform: rotate(-50deg);
}

.arm .arm-l .tinny-finger {
    left: 11vh;
    border-color: transparent transparent transparent #e0e0e0;
    transform: rotate(-50deg);
}

.arm .arm-r .big-finger {
    right: 7.5vh;
    border-color: transparent #e0e0e0 transparent transparent;
    transform: rotate(50deg);
}

.arm .arm-r .tinny-finger {
    right: 11vh;
    border-color: transparent#e0e0e0 transparent transparent;
    transform: rotate(50deg);
}


